.pointer
{
    cursor: pointer;
}
.img-show
{
    height: 400px !important;
    width: 250px !important;
}
.wishlist 
{
    position: absolute;
    top: 15px;
    left: 15px;
    background: rgba(2,2,2,.7);
    border: 0;
    color: #fff;
    z-index: 1111111111;
}
.wishlist i 
{
    font-size: 25px;
}
.wishlist i:hover 
{
    color: #3ACF87;
}
.wishlist .active
{
    color: #3ACF87;
}

.top-search form 
{
    position: relative;
}
.content-autosearch
{
    width: 100%;
    height: auto;
    border:1px solid #ccc;
    position: absolute;
    z-index: 12525;
    background-color: white;
    top: 40px;
    overflow-y: auto;
    display: none;
    max-height: 300px;
}
.content-autosearch li
{
    padding: 7px;
    border-bottom: 1px solid #ccc;
}
.content-autosearch li:hover
{
    background-color:#ccc;
    cursor: pointer;
}

.sticky 
{
    position: fixed;
    width: 100%;
    left: 0;
    top: -7px;
    z-index: 100;
    border-top: 0;
}

.border-red
{
    border: 2px solid red !important;
}