@font-face 
{ 
    font-family: "bold"; 
    src: url('fonts/Tajawal-Black.ttf'); 
} 
@font-face 
{ 
    font-family: "light"; 
    src: url('fonts/Tajawal-Light.ttf'); 
} 
@font-face 
{ 
    font-family: "reg"; 
    src: url('fonts/Tajawal-Regular.ttf'); 
} 

*,body,html,h1,h2,h3,h4,h5,h6,table,th,td
{
    font-family: 'reg', sans-serif;
}
a,button,input
{
    font-family: 'reg', sans-serif;
}

.fontLight{font-family: 'reg', sans-serif;}
.fontBold{font-family: 'bold', sans-serif;}

.form-group label,input
{
    font-family: 'bold', sans-serif;
    text-align: right;
}

.form-group
{
    text-align: right;
}

a.active
{
    color: #fff !important;
}

.coverLoading 
{
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: 11;
    margin-right: -16px;
    margin-top: -16px;
}

.coverLoading img
{
    display: block;
    margin: auto;
    margin-top: 20px;
}




#errorsAdd 
{
    list-style: none;
    list-style-type: none;
    display: block;
    width: 100%;

}
#errorsAdd li 
{
    display: block;
    width: 100%;
    padding: 4px;
    text-align: center;
}


#errorsEdit 
{
    list-style: none;
    list-style-type: none;
    display: block;
    width: 100%;

}
#errorsEdit li 
{
    display: block;
    width: 100%;
    padding: 4px;
    text-align: center;
}

#coverloadingTable 
{
    display: none;
    position: absolute;
    background-color: rgba(0,0,0, 0.5);
    width: 100%;
    height: 100%;
    margin-right: -20px;
}
#coverloadingTable  img 
{
    display: block;
    margin: auto;
    margin-top: 25px;
}

.tdLoader
{
    max-width:100%;
     max-height:100%; 
     display:block;
     margin:auto;
}